.wrapper {
    height: 100%;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 75% 10%;
}

.card {
    height: 100rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #4d4d4d;
}

.navB {
    grid-row-start: 1;
    background-color: wheat;
}

.content {
    grid-row-start: 2;
    background-color:#4d4d4d;
}

.foot {
    grid-row-start: 3;
    background-color: wheat;
}
