
@import '../custom-theme.scss';

.wrapper {
    height: 100%;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 75% 10%;
}


.card {
    margin-left: 5%;
    margin-right: 5%;
}



.content {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75% 25%;
}
.contentCard{

    grid-row-start: 1;
    margin: 2.5% 2.5% 2.5% 2.5%; 
    background-color: map-get($haebChlaebImmo-accent, 500);
}

.navB {
    /*background-color: wheat;*/
}

.navI {
    display:grid;
    grid-template-columns: auto auto auto;
}

.placeTop {
    grid-row-start: 1;
}

.placeBot {
    grid-row-start: 3;
}

.foot {
    height: 100%;
    grid-row-start: 2;
    background-color: map-get($haebChlaebImmo-primary,700);
}
