
<mat-toolbar color="primary" class="navB">
  <mat-toolbar-row class="navI">
    <span routerLink="/home">Home</span>
    <span routerLink="/imo">Immobilien</span>
    <span routerLink="/company">Unternehmen</span>
    <span routerLink="/contact">Kontakt</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
<mat-card class="contentCard" typography="accent">
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>

  <div class="foot">

  </div>

</div>
